
body {
  background-color: rgb(113, 26, 26);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.logo {
  width: 150px;
  height: auto;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

.banner {
  text-align: center;
  padding: 50px 0;
  
}

.container {
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.footer {
  background-color: #570f0f;
  color: white;
  text-align: center;
  padding: 5px 0;

  width: 100%;
  bottom: 0;
}

.header {
  background-color: #4c1010;
}

.banner h1 {
  color: #7161ed; /* Blanco */
  font-family: 'Graffiti', cursive; /* Fuente de grafiti */
  animation: move 2s infinite alternate;
  text-shadow: 2px 2px 4px #3d0c0c; /* Sombra de texto color vino */
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
